<div class="top">
   
    <h4>Topics </h4>

</div>

<div class="containercard">

<article class="card">
    <img
      class="card__background"
      src="https://img.freepik.com/free-vector/set-three-banners-with-renewable-energies_1284-1105.jpg"
      alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
    />
    <div class="card__content | flow">
      <div class="card__content--container | flow">
        <p class="card__title">{{images[currentIndex]}}</p>
      </div>
    </div>
  </article>
</div>
