
:root {
  /* Colors */
  --brand-color: rgba(59,130,246,1);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);

}

/* RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */


/* GLOBAL STYLES */


h2 {
  font-size: 2.25rem;
  font-family: var(--font-title);
  color: var(--white);
  line-height: 1.1;
}



.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

/* CARD COMPONENT */
.containercard{
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3%;
}

.card {
  margin-left: 1%;
  margin-right: 3%;
  display: grid;
  place-items: center;
  width: 100%;
  overflow: hidden;
  border-radius: 0.625rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

.card > * {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
}

.card__background {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.card__content p{
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card__content {
    
  --flow-space: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-self: center;
  height: 100%;
  padding: 12% 1.25rem 1.875rem;
  background: linear-gradient(
    140deg,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.3) 10%,
    hsl(0, 0%, 0%) 100%
  );
}

.card__content--container {
  --flow-space: 1.5rem;
}

.card__title {
  font-family:"Questrial";
  line-height: 1.5;
    font-size: 2rem;
    font-weight: bolder;
    color: white;
  position: relative;
  width: fit-content;
  width: -moz-fit-content; /* Prefijo necesario para Firefox  */
}

.card__title::after {
  content: "";
  position: absolute;
  height: 0.3125rem;
  width: calc(100% + 1.25rem);
  bottom: calc((1.25rem - 0.5rem) * -1);
  left: -1.25rem;
  background-color: var(--brand-color);
}





@media (any-hover: hover) and (any-pointer: fine) {
  .card__content {
    transform: translateY(30%);
    transition: transform 500ms ease-in-out;
    transition-delay: 500ms;
  }

  .card__title::after {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 1000ms ease-in, transform 500ms ease-out;
    transition-delay: 500ms;
    transform-origin: right;
  }

  .card__background {
    transition: transform 500ms ease-in;
  }

  .card__content--container > :not(.card__title),
  .card__button {
    opacity: 0;
    transition: transform 500ms ease-out, opacity 500ms ease-out;
  }

  .card:hover,
  .card:focus-within {
    transform: scale(1);
    transition: transform 500ms ease-in;
  }

  .card:hover .card__content,
  .card:focus-within .card__content {
    transform: translateY(0);
    transition: transform 500ms ease-in;
  }

  .card:focus-within .card__content {
    transition-duration: 0ms;
  }

  .card:hover .card__background,
  .card:focus-within .card__background {
    transform: scale(1);
  }

  .card:hover .card__content--container > :not(.card__title),
  .card:hover .card__button,
  .card:focus-within .card__content--container > :not(.card__title),
  .card:focus-within .card__button {
    opacity: 1;
    transition: opacity 500ms ease-in;
    transition-delay: 1000ms;
  }

  .card:hover .card__title::after,
  .card:focus-within .card__title::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: opacity 500ms ease-in, transform 500ms ease-in;
    transition-delay: 500ms;
  }
}
.top h4 {
    font-size: x-large;
    font-weight: bold;
    
}
.top{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}
@media screen and (min-width: 1000px){
  .card img{ 
    height: 90vh;
  }
}