<div class="submission">
    <h3>Paper submission</h3>
</div>

    <div class="contentsub">
        <div class="containersubel">
            <h6 (click)="showDetails()">Author guidelines <h5 [hidden]=!hiddenValue>▼</h5> <h5 [hidden]=hiddenValue> ▲</h5></h6>
            <ul id="test" [hidden]=hiddenValue>
                <li>Papers should be written according ICATRES template <button mat-stroked-button (click)="downloadPDF()"> Download</button>
                </li>
                <li> Only PDF files will be accepted.</li>
                <li>English is the language of the conference.</li>
                <li>Initial submissions may be up to 8 pages. However, for final submission, paper should be 6 pages long. Any page over 6 pages will be charged by extra charge up to a maximum of two extra pages.</li>
                <li>Authors are responsible for submitting their paper in the required format. All papers that are accepted will be published as submitted by the Author. The Conference is NOT responsible for editing or correcting errors in the paper.</li>
                    <li>Please note that we need your camera ready paper for inclusion in the conference proceedings. By this we mean your corrected/revised version of your original 6 pages paper. We need this regardless to whether your paper is accepted as oral or poster presentation.</li>
                    <li>The poster is a separate thing and you do not need to upload it. We do not keep posters. This is just a way of presenting a paper. You have to print and bring your poster with you.</li>
            </ul>
        </div>
      
        <div class="containersubel">
            <h6> <a href="https://cmt3.research.microsoft.com/ICATRES2024" style="color:  rgba(59,130,246,1); text-decoration: none">Submit Now</a></h6>
        
        </div>
    </div>
